.sidebar {
	width: 200px;
	float: left;
}
.dados{
	width: 700px;
	margin-left: 20px;
	float: left;
	border: none;
}
 #formDados input {
 	padding-left: 5px;
 }

 hr{
 	border: 1px solid #ddd;
 	height: 1px;
 }